.container {
  display: flex;
  height: 100vh;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.mat-tab-group {
  width: 100%;
}

.full-width-table {
  width: 100%;
  margin-top: 20px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}