<div class="company-container">
  <div class="header">
    <h2>Company <a href="#">Preview</a></h2>
    <div>
      <button class="discard-btn">Discard</button>
      <button class="save-btn">Save changes</button>
    </div>
  </div>

  <div class="company-content">
    <div class="company-logo">
      <img [src]="companyLogo" alt="Company Logo">
      <button class="edit-logo-btn" (click)="changeCompanyLogo()">
        <mat-icon>photo_camera</mat-icon>
      </button>
    </div>

    <div class="company-details">
      <label for="companyName">Name</label>
      <input matInput type="text" [(ngModel)]="companyName" id="companyName" class="input-field">

      <label for="companyUrl">URL</label>
      <input matInput type="text" [(ngModel)]="companyUrl" id="companyUrl" class="input-field">
    </div>
  </div>
</div>
