<div class="form-container">
    <h2>Qualifications</h2>
  
    <h3>Total Years of Industry Experience</h3>
    <mat-slider [(ngModel)]="experienceMin" min="0" max="20" step="1" thumbLabel></mat-slider>
    <mat-slider [(ngModel)]="experienceMax" min="0" max="20" step="1" thumbLabel></mat-slider>
    <p>{{ experienceMin }} - {{ experienceMax }} years</p>
  
    <h3>Screening Questions</h3>
    <button mat-button color="primary" (click)="addQuestion()">+ Add screening question</button>
    <div *ngFor="let question of screeningQuestions; let i = index">
      <mat-form-field class="full-width">
        <input matInput [(ngModel)]="screeningQuestions[i]" placeholder="Enter screening question">
      </mat-form-field>
      <button mat-icon-button color="warn" (click)="removeQuestion(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  
    <div class="button-group">
      <button mat-button (click)="previousStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Continue</button>
    </div>
</div>
  