.main-container {
  display: flex;
  height: 100vh;
}

app-sidebar {
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  padding: 24px;
  /* background: #FAFAFA; */
  border-radius: 8px;
  margin: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.add-btn {
  background: #0073E6;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.add-btn mat-icon {
  margin-right: 6px;
}

.add-btn:hover {
  background: #005BB5;
}

.filter-container {
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
}

.filter-btn {
  background: white;
  border: 1px solid #ddd;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.filter-btn.active {
  background: #0073E6;
  color: white;
  border: none;
}

.table-container {
  border-radius: 10px;
  overflow: hidden;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #F5F5F5;
  padding: 12px;
  text-align: left;
  font-weight: 600;
  color: #444;
}

td {
  padding: 12px;
  border-bottom: 1px solid #E0E0E0;
  color: #555;
}

tr:last-child td {
  border-bottom: none;
}

.role-badge {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  background: #D9D9D9;
  color: black;
  text-align: center;
}

.role-badge.admin {
  background: #E0F8E4;
  color: #008000;
}

.role-badge.sales {
  background: #F0F0F5;
  color: #555;
}

.role-badge:hover {
  box-shadow: 0px 0px 10px rgba(0, 102, 255, 0.8);
}

.team-info {
  display: flex;
  align-items: center;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
  object-fit: cover;
}

.owner-label {
  color: #777;
  font-size: 12px;
  font-weight: normal;
}

.loading-container {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #777;
}

.no-data {
  text-align: center;
  color: #888;
  font-size: 14px;
  padding: 20px;
}
